@font-face {
  font-family: "Quicksand";
  src: url(font/Quicksand-Medium.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0ece4;
  font-family: "Quicksand";
}

/* NAVBAR */
.navbar-background-color {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background-color: #f0ece4;
}

.hero-section {
  height: 92vh;
}

.black-bg-color {
  background-color: #000000;
}

h2 {
  color: #000000;
}

.hero-img {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 100%;
}

.nav-link {
  transition: transform 0.2s ease;
}

.nav-link:hover {
  transform: scale(1.1);
}

.active {
  transform: scale(1.1);
}

.margin-zero {
  margin: 0;
}

.text-justify {
  text-align: justify;
}

.btn:hover {
  background-color: #000000;
}

.p-about {
  font-size: 25px;
}

/* SKILLS */
.grid-logo {
  transition: transform 0.1s ease;
}
.grid-logo:hover {
  transform: scale(1.3);
}

/* ICON SPAN TRANSFORM */

.grid-logo {
  position: relative;
  overflow: hidden; /*to hide the span*/
}

.grid-logo img {
  width: 50%;
  height: auto;
  transition: transform 0.3s ease; /*for smooth transition*/
}

.grid-logo .logo-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(100%); /*hover from the bottom*/
  transition: transform 0.3s ease;
}

.grid-logo:hover .logo-overlay {
  transform: translateY(0); /* to slide up when hover */
}

.grid-logo .logo-overlay span {
  font-size: 12px;
  color: #ffffff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  background-color: #000000;
  padding: 5px;
}

.icon-contacts {
  width: 5%;
}

/* message */

.message-text {
  width: 500px;
  height: 50px;
  border: 1px solid #000000;
  padding: 10px;
}

.project-bg-transparent {
  background-color: #c8c8c800;
}

/* testimonials */

.card-img-testimonials img {
  filter: drop-shadow(0 4px 8px rgba(55, 49, 49, 0.779));
}

footer {
  height: 5vh;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  .p-about {
    font-size: 17px;
  }
  .message-text {
    width: 400px;
  }

  .grid-logo .logo-overlay span {
    font-size: 10px;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    background-color: #000000;
    padding: 5px;
  }

  footer {
    background-color: #000000;
    color: white;
    font-size: 10px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
}
